<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - Running Events</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/estilos.css}"/>
</head>
<body>
<!-- Inclui o cabeçalho do template_utilizador -->
<div th:replace="/utilizador/template_utilizador :: header"></div>

<section>
    <!-- Conteúdo Principal da Página Inicial -->
    <h1>Bem-vindo aos Running Events!</h1>
    <p>Aqui encontra a sua área pessoal.</p>
</section>

<!-- Aqui você pode incluir o fragmento de conteúdo, se necessário -->
</body>
</html>