<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área do STAFF</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}"/>
</head>
<body>

<header>
    <h1 class="logo">Running Events - Área do STAFF</h1>
    <nav>
        <a th:href="@{/staff/}">Página Inicial</a>
        <a th:href="@{/staff/criarEvento}">Criar Evento</a>
        <a th:href="@{/logout}" th:text="Logout"></a>
    </nav>
</header>

<section th:replace="${content}">

</section>

</body>
</html>